<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>블랙루비 도서대여시스템</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='simple-line-icons.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='landing-page.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">HOME</a>
            <a class='btn' href="{{ url_for('mypage') }}"><strong>{{ name|capitalize }}</strong></a>
            <a class="btn" href="{{ url_for('logout') }}">Log out</a>
      </div>
    </nav>
    {% block body %}{% endblock body %}
  </body>

</html>
