{% extends 'base.html' %}

{% block body %}
    <br>
    <br>
    <header>
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form name="addForm" id="addForm" method="POST" action="{{ url_for('search') }}" novalidate>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="text" class="form-control form-control-lg" placeholder="도서명을 입력하세요..." name="book" id="book">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </header>
    <br>

{% for list in lists %}
<div class="container">
<hr>
    <h3>{{ list.name }}</h3>
    <br>
    <h5>{{ list.author }}</h5>
    <!-- 도서 정보 나머지 칸 추가 -->
</div>
<br>

{% endfor %}
{% endblock body %}